<!DOCTYPE html>
<html>
<head>
  <title>Kitchen</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Kitchen</h1>
  <table>
    <tr>
      <th>Table number</th>
      <th>Item 1</th>
      <th>Item 2</th>
      <th>Item 3</th> 
      <th>Item 4</th>
      <th>Item 5</th>
      <th>Item 6</th>
    </tr>
    {% for order in orders %}
  <tr>
    <td>{{ order['table_number'] }}</td>
    <td>{{ order['items']['item1'] }}</td>
    <td>{{ order['items']['item2'] }}</td>
    <td>{{ order['items']['item3'] }}</td>
    <td>{{ order['items']['item4'] }}</td>
    <td>{{ order['items']['item5'] }}</td>
    <td>{{ order['items']['item6'] }}</td>
    <td>
      <form action="{{ url_for('update_status') }}" method="POST">
        <input type="hidden" name="order_index" value="{{ loop.index0 }}">
        <select name="status">
          <option value="In Preparation" {% if order['status'] == 'In Preparation' %}selected{% endif %}>In Preparation</option>
          <option value="Ready" {% if order['status'] == 'Ready' %}selected{% endif %}>Ready</option>
        </select>
        <button type="submit">Update</button>
      </form>
    </td>
    <td>
      <form action="{{ url_for('remove_order') }}" method="POST">
        <input type="hidden" name="order_index" value="{{ loop.index0 }}">
        <button class="remove" type="submit">Remove</button>
      </form>
    </td>
  </tr>
{% endfor %}

  
  </table>
  <a href="{{ url_for('reception') }}">Go back to reception</a>
</body>
</html>
