<!DOCTYPE html>
<html>
<head>
  <title>Internal Ordering System</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Internal Ordering system</h1>
    <div class="link-container">
      <div class="reception">
        <a href="{{ url_for('reception') }}">Reception</a>
      </div>
      <div class="kitchen">
        <a href="{{ url_for('kitchen') }}">Kitchen</a>
      </div>
      <div class="webpage">
        <a href="{{ url_for('webpage') }}">Website Page</a>
      </div>
    </div>
</body>
</html>