<!DOCTYPE html>
<html>
<head>
  <title>Reception</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <meta http-equiv="refresh" content="60" >
</head>
<body>
  <div class="container">
    <div class="table-container">
      <h1>Orders:</h1>
      <table>
        <thead>
          <tr>
            <th>Table number</th>
            <th>Margherita</th>
            <th>Pepperoni</th>
            <th>Marinara</th>
            <th>Water bottle</th>
            <th>Coca Cola</th>
            <th>Fanta</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{ order['table_number'] }}</td>
            <td>{{ order['items']['item1'] }}</td>
            <td>{{ order['items']['item2'] }}</td>
            <td>{{ order['items']['item3'] }}</td>
            <td>{{ order['items']['item4'] }}</td>
            <td>{{ order['items']['item5'] }}</td>
            <td>{{ order['items']['item6'] }}</td>
            <td>{{ order['total_price'] }}</td>
            <td>{{ order['status'] }}</td>
            <td>
              <form action="{{ url_for('remove_order') }}" method="POST">
                <input type="hidden" name="order_index" value="{{ loop.index0 }}">
                <button class="remove" type="submit">Remove</button>
              </form>
            </td>
          </tr>
          {% endfor %}      
        </tbody>
      </table>
    </div>
    <div id="form-container">
      <form action="{{ url_for('send_order') }}" method="POST">
        <label for="table_number">Table number:</label>
        <input type="number" id="table_number" name="table_number" required>
        <br>
        <div class="item-container">
          <div class="item-input">
            <label for="item1">Margherita:</label>
            <input type="number" id="item1" name="item1" value="0" min="0">
          </div>
          <div class="item-input">
            <label for="item2">Pepperoni:</label>
            <input type="number" id="item2" name="item2" value="0" min="0">
          </div>
          <div class="item-input">
            <label for="item3">Marinara:</label>
            <input type="number" id="item3" name="item3" value="0" min="0">
          </div>
          <div class="item-input">
            <label for="item4">Water bottle:</label>
            <input type="number" id="item4" name="item4" value="0" min="0">
          </div>
          <div class="item-input">
            <label for="item5">Coca Cola:</label>
            <input type="number" id="item5" name="item5" value="0" min="0">
          </div>
          <div class="item-input">
            <label for="item6">Fanta:</label>
            <input type="number" id="item6" name="item6" value="0" min="0">
          </div>          
        </div>
        <input type="submit" class="submit-button" value="Submit">
      </form>
    </div>
  </div>
</body>  
</html>